<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Alt Source Bank Ledger</title>
  <meta name="description" content="Simple Bank Ledger">
  <meta name="author" content="Mike Mostachetti">
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  
</head>

<body>
    <div id="ledger-app">
        <create-account-component></create-account-component>
        <login-component v-on:login-event="isLoggedIn = true" v-on:logout-event="isLoggedIn = false"></login-component>
        <transactions-component v-if="isLoggedIn" ></transactions-component>
    </div>

    <script src="ledger.js"></script>
</body>
</html>
